@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Special+Elite&display=swap');

body{
    margin:0;
    padding:0;
    font:normal 16px 'Open Sans', sans-serif;
    background-color: white;
    width:100%;
    height:100%;
}

.blue{color:#748DFF}
.red{color:#E85C51}
.yellow{color:#F4D337}
.green{color:#58BB7B}

h3{
    display:inline;
    padding-right:150px;
}


h2{
    display:inline;
    font-size:15px;
    font-weight: lighter;
}

/* menu */
/* drop down menu */
button{
    background-color: white;
    border-color:white;
}

#menu{
    position: fixed;
    top:0;
    float:left;
}

    /* dropdown content */
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
    /* links inside the dropdown */
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

    /* change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

    /* show dropdown menu on hover */
#menu:hover .dropdown-content{
    display:block;
}

    /* change the background color of the dropdown button */
#menu:hover .dropbtn, .fa-tasks:hover{
    background-color: #E6E6E6;
    color:white;
}

#menu .fa{
    width:50px;
    height:50px;
    color:#C9C6C6;
    top:0;
    right:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fa-tasks{
    color:#C9C6C6;
    height:50px;
    width:50px;
}

/* projects */
#projects{
    width:100%;
    min-height:1000px;
    position:relative;
    margin:auto;
}

.title p{
    font-weight:bolder;
    margin-bottom:10px;
}

.project-container p, .contact-container p, .resume-container p{
    font-size:70px;
    letter-spacing: -3px;
}

.column p{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    overflow:hidden;
    font-size:12px;
    font-family:'Open sans', sans-serif;
    letter-spacing:normal;
    color:#cfcfcf;
    font-weight:lighter;
}

.column img{
    max-width:400px;
    max-height: 200px;
}

.row{
    margin:0px 25px;
    padding:8px;
}

.row > .column{
    padding: 55px;
}

.column{
    float:left;
    width:25%;
}

.row:after {
    content:"";
    display:table;
    clear:both;
}

.content{
    background-image: linear-gradient(#c7d1ff,#d5dcff,white);
    border:3px solid #C9C6C6;
    border-radius:20px;
    padding:0;
}

.overview{
    text-decoration: none;
}

.descrip{
    padding:10px;
}

.iconB{
    display:block;
    max-width:400px;
    max-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0;
}

.iconB li{
    list-style: none;
    display: inline-block;
    font-size: 90px;
    width:100px;
    height: 100px;
	line-height: 100px;
}

.fa-chart-pie{
    color:black;
    border-radius: 100px;
    height:300px;
    width:300px;
}

@media screen and (max-width:850px){
    .column{
        width:50%
    }
}

@media screen and (max-width:400px){
    .column{
        width:100%;
    }
}