@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Special+Elite&display=swap');

body{
    margin:0;
    padding:0;
    font:normal 16px 'Open Sans', sans-serif;
    background-color: white;
    width:100%;
    height:100%;
}

.blue{color:#748DFF}
.red{color:#E85C51}
.yellow{color:#F4D337}
.green{color:#58BB7B}

h3{
    padding:0;
    margin:0;
}


h2{
    display:inline;
    font-size:15px;
    font-weight: lighter;
    padding:0;
}

/* menu */
/* drop down menu */
button{
    background-color: white;
    border-color:white;
}

#menu{
    position: fixed;
    top:0;
    float:left;
}

    /* dropdown content */
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
    /* links inside the dropdown */
.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

    /* change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

    /* show dropdown menu on hover */
#menu:hover .dropdown-content{
    display:block;
}

    /* change the background color of the dropdown button */
#menu:hover .dropbtn, .fa-tasks:hover{
    background-color: #E6E6E6;
    color:white;
}

#menu .fa{
    width:50px;
    height:50px;
    color:#C9C6C6;
    top:0;
    right:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fa-tasks{
    color:#C9C6C6;
    height:50px;
    width:50px;
}

/* projects */
#projects{
    width:100%;
    min-height:1000px;
    position:relative;
    margin:auto;
}

.title p{
    font-weight:bolder;
    margin-bottom:10px;
}

.project-container p, .contact-container p, .resume-container p{
    font-size:70px;
    letter-spacing: -3px;
}

.column p{
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:4;
    overflow:hidden;
    font-size:12px;
    font-family:'Open sans', sans-serif;
    letter-spacing:normal;
    color:#808080;
    font-weight:lighter;
}

.row{
    margin:0px 25px;
    padding:8px;
}

.row > .column{
    padding: 55px;
}

.column{
    float:left;
    width:25%;
}

.row:after {
    content:"";
    display:table;
    clear:both;
}

@media screen and (max-width:850px){
    .column{
        width:50%
    }
}

@media screen and (max-width:400px){
    .column{
        width:100%;
    }
}

/* Project container colors  */
.content-red{
    background-image: linear-gradient(#f5bdb9,#f8ceca,#fadedc,#fceeed,white,white);
    border:3px solid #C9C6C6;
    border-radius:20px;
    padding:0;
}

.content-blue{
    background-image: linear-gradient(#c7d1ff,#d5dcff,#e3e8ff,#f1f3ff,white,white);
    border:3px solid #C9C6C6;
    border-radius:20px;
    padding:0;
}

.content-green{
    background-image: linear-gradient(#bce3ca,#ccead7,#ddf1e4,#eef8f1,white,white);
    border:3px solid #C9C6C6;
    border-radius:20px;
    padding:0;
}

.content-yellow{
    background-image: linear-gradient(#faedaf,#fbf1c3, #fcf6d7 ,#fdfaeb, white,white);
    border:3px solid #C9C6C6;
    border-radius:20px;
    padding:0;
}

/* Inside project BRIEF description */
.overview{  text-decoration: none;   }

.descrip{  padding:10px;  }

.icon{
    display:center;
    max-width:400px;
    max-height: 150px;
    padding-top: 0;
}

.icon li{
    padding:0px 20% 20% 20%;
    list-style: none;
    display: center;
    font-size: 100px;
    padding-bottom:30%;
}

.icon-blue{ color:#9dafff; }
.icon-red{ color:#ee8c85; }
.icon-green{ color:#8acfa2; }
.icon-yellow{ color:#f7e073; }

.fa-chart-pie{
    border-radius: 100px;
    height:300px;
    width:300px;
}

/* project long description */

.extra-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}
    /* links inside the dropdown */
.extra-content a{
    color:black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}